@import url('https://fonts.googleapis.com/css2?family=Carme&family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Carme', sans-serif;
  
}
.main-container{
    margin: 50px auto;
    width: 50%;
}
h1{
    margin-bottom: 20px;
    display: inline-block;
}
.info{
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
    height: 350px;
    
}
section{
    width: 100%;
    border: 1px dotted gray;
    font-size: 20px;
    line-height: 30px;
    padding: 20px;
    height: 350px;
    background-image: url('/assets/images/undraw_professor_8lrt.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
a{
    float: right;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    color: white;
}
.info, .values{
    display: inline-block;
}